<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="30">

  <Properties>
    <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS}\t%level\t%thread\t%X{traceId}\t|\t%msg%n</Property>
    <Property name="linkPattern">%d{yyyy-MM-dd HH:mm:ss.SSS}\t%level\t%thread\t%X{traceId}\t(%F:%L)\t|\t%msg%n</Property>
    <Property name="baseDir">/opt/logs/log4j2-demo</Property>
    <Property name="prefix">${baseDir}/$${date:yyyy-MM}/$${date:yyyy-MM-dd}</Property>
    <Property name="suffix">%d{yyyy-MM-dd}.%i.log.gz</Property>
  </Properties>

  <Appenders>

    <RollingRandomAccessFile name="app" fileName="${baseDir}/app.log" filePattern="${prefix}/app/app.${suffix}">
      <PatternLayout>
        <Pattern>${pattern}</Pattern>
        <Charset>UTF-8</Charset>
      </PatternLayout>
      <Policies>
        <OnStartupTriggeringPolicy/>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="20">
        <Delete basePath="${baseDir}" maxDepth="4">
          <IfFileName glob="**/app.*.log.gz"/>
          <IfAny>
            <IfLastModified age="200d"/>
            <IfAccumulatedFileSize exceeds="5GB"/>
          </IfAny>
        </Delete>
      </DefaultRolloverStrategy>
    </RollingRandomAccessFile>

    <RollingRandomAccessFile name="root" fileName="${baseDir}/root.log" filePattern="${prefix}/root/root.${suffix}">
      <PatternLayout>
        <Pattern>${pattern}</Pattern>
        <Charset>UTF-8</Charset>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <OnStartupTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="20">
        <Delete basePath="${baseDir}" maxDepth="4">
          <IfFileName glob="**/root.*.log.gz"/>
          <IfAny>
            <IfLastModified age="15d"/>
            <IfAccumulatedFileSize exceeds="5GB"/>
          </IfAny>
        </Delete>
      </DefaultRolloverStrategy>
    </RollingRandomAccessFile>

  </Appenders>


  <Loggers>

    <AsyncLogger name="io.github.linwancen.demo.log4j2" level="info" additivity="false">
      <AppenderRef ref="app"/>
    </AsyncLogger>

    <AsyncLogger name="io.github.linwancen.demo" level="warn"/>

    <AsyncRoot level="warn">
      <AppenderRef ref="root"/>
    </AsyncRoot>

  </Loggers>

</Configuration>